%EuclidCircular-600 {
  font-family: 'Euclid Circular A';
  font-weight: 600;
}

%EuclidCircular-400 {
  font-family: 'Euclid Circular A';
  font-weight: 400;
}

%EuclidCircular-300 {
  font-family: 'Euclid Circular A';
  font-weight: 300;
}

%Circe-700 {
  font-family: 'Circe';
  font-weight: 700;
}

%Circe-300 {
  font-family: 'Circe';
  font-weight: 300;
}

%Gilroy-400 {
  font-family: 'Gilroy';
  font-weight: 400;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%link-style {
  outline: transparent;
  border-bottom: 1px solid transparent;
  transition: border 0.3s, color 0.3s;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}