.breadcrumbs {
  padding: 47px 0;

  @include _430 {
    display: none;
  }
  
  &__items {
    display: flex;
  }
  
  &__item {
    padding-right: 20px;
    position: relative;
    color: #858A93;
    
    &:not(:last-child):after {
      content: '/';
      position: absolute;
      right: 6px;
      top: 1px;
      font-size: 15px;
      color: rgba(34, 41, 51, 0.6);
    }
    
    &:last-child {
      color: #2B2E34;
    }
  }
  
  &__link {
    font-size: 15px;
    padding-bottom: 3px;
    @include line-camp(1);
    @extend %link-style;
  }
}