.breadcrumbs {
  padding: 47px 0;

  @include _430 {
    display: none;
  }

  &__items {
    display: flex;
  }

  &__item {
    padding-right: 20px;
    position: relative;

    &:not(:last-child):after {
      content: '/';
      position: absolute;
      right: 6px;
      top: 1px;
      font-size: 15px;
      color: rgba(34, 41, 51, 0.6);
    }

    &:last-child {
      font-weight: 600;
    }
  }

  &__link {
    font-size: 15px;
    color: #858A93;
    padding-bottom: 3px;
    @include line-camp;
    @extend %link-style;
  }
}